@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/Mukta-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-semibold.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/palanquindark-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/PalanquinDark-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/palanquindark-semibold.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/PalanquinDark-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
.btn-primary {
  border-radius: 100px;
  background-color: #B54F59;
  padding: 0.5rem 1.6rem 0.5rem;
  border: 0;
  font-size: 16px;
  font-family: "Mukta";
  font-weight: bold;
  color: #fff !important;
  margin-right: 15px;
}
.btn-primary:hover {
  background-color: #B54F59;
}
.btn-primary.white {
  border: 1px solid #fff;
  background-color: #E5717D;
}

.btn-grey {
  border-radius: 100px;
  background-color: #909090;
  padding: 0.5rem 1.6rem 0.5rem;
  border: 0;
  font-size: 16px;
  font-family: "Mukta";
  font-weight: 500;
  color: #fff !important;
}
.btn-grey:hover {
  background-color: #909090;
}

.btn-b-white {
  background: transparent;
  border: 1px solid #CCCCCC;
  padding: 0.5rem 2.6rem 0.5rem;
  border-radius: 60px;
  color: #909090 !important;
  font-size: 18px;
  font-family: "Mukta";
  font-weight: 300;
}

.btn-purple {
  background: #9A82A2;
  padding: 0.4rem 1.6rem 0.4rem;
  color: #fff;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.btn-secondary {
  background: #fff;
  border: unset;
  padding: 0.5rem 1.6rem;
  border-radius: 0px;
  color: #29073d !important;
  border: 1px solid rgba(91, 4, 128, 0.1921568627);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.btn-secondary:hover {
  background: linear-gradient(135deg, #5b0480 0%, #29073d 100%);
  color: #fff !important;
}

.body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

a {
  color: #29073d;
  text-decoration: none;
}

.f-lb {
  font-family: "LibreBaskerville" sans-serif !important;
}

.white {
  color: #fff !important;
}

.f24 {
  font-size: 24px;
}

.nav-banner-wrap {
  background-image: url("/assets/images/banner-bg.png");
  background-size: cover;
  background-position: top;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
@media only screen and (max-width: 600px) {
  .nav-banner-wrap {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.dropdown-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}
.dropdown-wrap .drop-down select {
  background: transparent !important;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-family: "Mukta";
}
.dropdown-wrap .drop-down select option {
  background-color: #000;
  color: #fff;
}
.dropdown-wrap .drop-down label {
  width: 0;
}
.dropdown-wrap .timing {
  display: flex;
  align-items: center;
}
.dropdown-wrap .timing .green-dot {
  background-color: #11DB00;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 6px;
}
.dropdown-wrap .timing .open-or-close {
  color: #fff;
  margin-right: 19px;
  font-size: 14px;
  font-family: "Mukta";
}
.dropdown-wrap .timing .time {
  color: #fff;
  font-size: 14px;
  font-family: "Mukta";
}

.banner-section {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .banner-section {
    flex-direction: column;
  }
}
.banner-section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .banner-section .left {
    width: 47%;
  }
}
@media only screen and (max-width: 900px) {
  .banner-section .left {
    width: 100%;
    margin-bottom: 50px;
  }
}
.banner-section .left .section-title {
  font-size: 36px;
  font-family: "Palanquin Dark";
  margin-bottom: 18px;
  font-weight: 300;
  line-height: 46px;
  color: #fff;
}
.banner-section .left p {
  font-size: 20px;
  font-family: "Mukta";
  font-weight: 300;
  color: #fff;
  margin-bottom: 39px;
}
.banner-section .right {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .banner-section .right {
    width: 48%;
  }
}
@media only screen and (max-width: 900px) {
  .banner-section .right {
    width: 100%;
  }
}
.banner-section .right img {
  height: 576px;
}
@media only screen and (max-width: 1300px) {
  .banner-section .right img {
    height: 480px;
  }
}
@media only screen and (max-width: 1024px) {
  .banner-section .right img {
    height: 450px;
  }
}
@media only screen and (max-width: 900px) {
  .banner-section .right img {
    height: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .banner-section .right img {
    height: 310px;
  }
}

.swip-section-wrap {
  background: #fff;
  position: relative;
  z-index: 5;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-bottom: 1px;
}
.swip-section-wrap .swip-section {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 79%;
}
.swip-section-wrap .swip-section .brandSwiper {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
.swip-section-wrap .swip-section .brandSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  width: 95px;
}
.swip-section-wrap .swip-section .brandSwiper .button-next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 11;
  transform: translateY(-50%);
}
.swip-section-wrap .swip-section .brandSwiper .button-next img {
  width: 30px;
  height: 30px;
}
.swip-section-wrap .swip-section .brandSwiper .button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 11;
  transform: translateY(-50%);
}
.swip-section-wrap .swip-section .brandSwiper .button-prev img {
  width: 30px;
  height: 30px;
}

.whyshop {
  display: flex;
  align-items: center;
  background: #F0F0F0;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.whyshop .container-new .section-wrap {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .whyshop .container-new .section-wrap {
    flex-direction: column;
  }
}
.whyshop .container-new .section-wrap .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .whyshop .container-new .section-wrap .left {
    width: 55%;
  }
}
@media only screen and (max-width: 550px) {
  .whyshop .container-new .section-wrap .left {
    width: 100%;
  }
}
.whyshop .container-new .section-wrap .left .section-title {
  font-size: 28px;
  font-family: "Palanquin Dark";
  font-weight: 300;
}
.whyshop .container-new .section-wrap .left p {
  font-family: "Mukta";
  font-weight: 300;
  font-size: 20px;
}
.whyshop .container-new .section-wrap .right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
@media only screen and (max-width: 1024px) {
  .whyshop .container-new .section-wrap .right {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  .whyshop .container-new .section-wrap .right {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .whyshop .container-new .section-wrap .right {
    flex-direction: column;
  }
}
.whyshop .container-new .section-wrap .right .card {
  display: flex;
  justify-content: center;
  border: 0;
}
@media only screen and (max-width: 1000px) {
  .whyshop .container-new .section-wrap .right .card {
    justify-content: space-around;
    margin-top: 30px;
  }
}
.whyshop .container-new .section-wrap .right .card p {
  text-align: center;
  font-family: "Mukta";
  font-weight: 300;
  color: #909090;
  font-size: 18px;
  width: 158px;
  margin: 0;
  background: #F0F0F0;
  margin: 0;
  padding-top: 16px;
}
@media only screen and (max-width: 550px) {
  .whyshop .container-new .section-wrap .right .card p {
    width: 100%;
  }
}
.whyshop .container-new .section-wrap .right .img-wrap {
  border-radius: 8px;
}
.whyshop .container-new .section-wrap .right .img-wrap img {
  width: 158px;
  height: 144px;
}
@media only screen and (max-width: 550px) {
  .whyshop .container-new .section-wrap .right .img-wrap img {
    width: 100%;
    height: auto;
  }
}

.contact {
  background-color: #E5717D;
  height: 928px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-top: -50px;
}
.contact .upper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact .upper .section-title {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 12px;
  font-family: "Palanquin Dark";
  color: #fff;
  font-weight: 700;
}
.contact .upper p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
}
.contact .bottom {
  display: flex;
  align-items: center;
  margin-top: 82px;
}
.contact .bottom .left {
  width: 70%;
  position: relative;
}
.contact .bottom .left img {
  position: absolute;
  left: -490px;
  top: -220px;
  width: 1325px;
}
.contact .bottom .right .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: #fff;
  border-radius: 60px;
  min-width: 300px;
  margin-bottom: 40px;
}
.contact .bottom .right .services:nth-of-type(3) {
  margin: 0 !important;
}
.contact .bottom .right .services .circle {
  width: 64px;
  height: 64px;
  background-color: #CCCCCC;
  border-radius: 50%;
}
.contact .bottom .right .services .service-name {
  color: #676767;
  font-size: 24px;
  font-weight: 500;
}

.image-gallery-wrap {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  margin-top: 48px;
  padding-bottom: 100px;
}
.image-gallery-wrap .image-gallery .section-title {
  font-family: "Palanquin Dark";
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 48px;
}
.image-gallery-wrap .image-gallery .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-gallery-wrap .image-gallery .images img {
  margin-bottom: 30px;
  flex-basis: 24%;
}
@media only screen and (max-width: 950px) {
  .image-gallery-wrap .image-gallery .images img {
    flex-basis: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .image-gallery-wrap .image-gallery .images img {
    flex-basis: 100%;
  }
}

.our-legacy {
  background: #3B0006;
  align-items: center;
  padding-top: 110px;
  position: relative;
  z-index: 3;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  max-width: 1920px;
  margin: auto;
  margin-top: -50px;
}
.our-legacy .legacy .swiper-pagination {
  bottom: 48px;
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet {
  width: 96px;
  height: 12px;
  background: #fff;
  border-radius: 8px;
  color: #fff;
  margin-right: 36px;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .our-legacy .legacy .swiper-pagination .swiper-pagination-bullet {
    width: 50px;
  }
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet::before {
  content: "1982";
  width: 100%;
  height: 30px;
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 24px;
}
@media only screen and (max-width: 650px) {
  .our-legacy .legacy .swiper-pagination .swiper-pagination-bullet::before {
    font-size: 16px;
    top: -30px;
  }
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet:nth-of-type(2)::before {
  content: "1992";
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet:nth-of-type(3)::before {
  content: "2004";
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet:nth-of-type(4) {
  margin: 0;
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet:nth-of-type(4)::before {
  content: "2016";
}
.our-legacy .legacy .swiper-pagination .swiper-pagination-bullet span {
  margin-bottom: 50px;
}
.our-legacy .legacy .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-next {
  transform: scale(0.85);
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-next .swiper-title {
  display: none;
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-next p {
  display: none;
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-prev {
  transform: scale(0.85);
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-prev .swiper-title {
  display: none;
}
.our-legacy .legacy .swiper-wrapper .swiper-slide-prev p {
  display: none;
}
.our-legacy .section-title {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
}
.our-legacy .image {
  width: 100%;
  height: 480px;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 28px;
}
@media only screen and (max-width: 850px) {
  .our-legacy .image {
    height: 400px;
  }
}
@media only screen and (max-width: 650px) {
  .our-legacy .image {
    height: 350px;
  }
}
.our-legacy .swiper-title {
  color: #fff;
  font-family: "Mukta";
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
}
.our-legacy p {
  color: #fff;
  max-width: 480px;
  font-family: "Mukta";
  font-size: 16px;
  text-align: center;
  margin-bottom: 180px;
}

.product-wrap {
  background: #fff;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  position: relative;
}
.product-wrap .products {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 56px;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products {
    padding-bottom: 165px;
  }
}
.product-wrap .products .mySwiper {
  height: 600px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1800px) {
  .product-wrap .products .mySwiper {
    top: 50%;
  }
}
@media only screen and (max-width: 1300px) {
  .product-wrap .products .mySwiper {
    height: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .product-wrap .products .mySwiper {
    height: 450px;
    right: -90px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-wrap .products .mySwiper {
    right: -80px;
    height: 450px;
  }
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .mySwiper {
    transform: rotate(90deg);
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
  .product-wrap .products .mySwiper {
    height: 290px;
    top: 90%;
  }
}
.product-wrap .products .mySwiper .swiper-slide {
  height: auto !important;
  margin-bottom: 30px !important;
  display: flex;
}
@media only screen and (max-width: 1300px) {
  .product-wrap .products .mySwiper .swiper-slide img {
    width: 120px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-wrap .products .mySwiper .swiper-slide img {
    width: 100px;
  }
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .mySwiper .swiper-slide img {
    transform: rotate(-90deg);
  }
}
.product-wrap .products .section-title {
  font-size: 36px;
  font-weight: 300;
  font-family: "Palanquin Dark";
  margin-bottom: 48px;
}
.product-wrap .products .bottom {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.product-wrap .products .bottom .left {
  width: auto;
  margin-right: 50px;
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .bottom .left {
    width: 100%;
    margin: 0;
  }
}
.product-wrap .products .bottom .left img {
  width: 516px;
}
@media only screen and (max-width: 2000px) {
  .product-wrap .products .bottom .left img {
    width: 700px;
  }
}
@media only screen and (max-width: 1450px) {
  .product-wrap .products .bottom .left img {
    width: 600px;
  }
}
@media only screen and (max-width: 1400px) {
  .product-wrap .products .bottom .left img {
    width: 516px;
  }
}
@media only screen and (max-width: 1100px) {
  .product-wrap .products .bottom .left img {
    width: 470px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-wrap .products .bottom .left img {
    width: 450px;
  }
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .bottom .left img {
    width: 100%;
  }
}
.product-wrap .products .bottom .right {
  width: 40%;
}
@media only screen and (max-width: 1000px) {
  .product-wrap .products .bottom .right {
    width: 100%;
    margin-top: 30px;
  }
}
.product-wrap .products .bottom .right .product-name {
  font-family: "Mukta";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.product-wrap .products .bottom .right .specification {
  color: #909090;
  font-family: "Mukta";
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 13px;
}
.product-wrap .products .bottom .right .color-options {
  display: flex;
}
.product-wrap .products .bottom .right .color-options p {
  background-color: #EAEAEA;
  padding: 13px 15px;
  border-radius: 60px;
  font-family: "Mukta";
  font-size: 16px;
  font-weight: 300;
  color: #676767;
  margin-right: 6px;
}

.location-section {
  display: flex;
  height: 686px;
  margin-top: -50px;
}
@media only screen and (max-width: 1000px) {
  .location-section {
    flex-direction: column;
  }
}
.location-section .left-wrap {
  width: 40%;
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .location-section .left-wrap {
    width: 100%;
  }
}
.location-section .left-wrap .left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #B54F59;
  height: 100%;
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
}
@media only screen and (max-width: 1000px) {
  .location-section .left-wrap .left {
    padding-bottom: 30px;
  }
}
.location-section .left-wrap .left .section-title {
  font-family: "Palanquin Dark";
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-bottom: 28px;
  width: 348px;
}
.location-section .left-wrap .left .shop-info {
  background-color: #fff;
  width: 348px;
  border-radius: 20px;
  padding: 24px;
}
@media only screen and (max-width: 1000px) {
  .location-section .left-wrap .left .shop-info {
    width: 100%;
  }
}
.location-section .left-wrap .left .shop-info .shop-name {
  color: #676767;
  font-family: "Mukta";
  font-size: 20px;
  font-weight: 300;
}
.location-section .left-wrap .left .shop-info p {
  font-family: "Mukta";
  font-size: 16px;
  font-weight: 300;
  color: #909090;
}
.location-section .left-wrap .left .shop-info a {
  text-decoration: underline;
  font-family: "Mukta";
  font-size: 16px;
  font-weight: 500;
  color: #B54F59;
}
.location-section .right {
  width: 60%;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .location-section .right {
    width: 100%;
  }
}
.location-section .right iframe {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

input, select {
  outline: unset !important;
  box-shadow: unset !important;
  outline: 0 !important;
  box-shadow: 0 !important;
}
input:focus, select:focus {
  border-color: #29073d !important;
}

.container-new {
  max-width: 100%;
  width: 1920px;
  padding: 0 6.3vw;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .container-new {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.navbar {
  background-color: #fff;
  top: 70px;
}
.navbar .container {
  width: 1920px !important;
  max-width: 100% !important;
  padding: 0 6vw;
}
@media only screen and (max-width: 767px) {
  .navbar .container {
    max-width: 100%;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    padding-top: 0.5rem;
  }
}
.navbar .navbar-toggler {
  border: 0px !important;
  box-shadow: unset !important;
  outline: 0px !important;
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-nav li {
    margin-top: 12px;
  }
}
.navbar .navbar-nav a {
  margin-left: 1.2rem;
  color: #2e2e4d;
  font-family: "Mukta";
  font-weight: 700;
}
.navbar .navbar-nav a.active {
  color: #29073d;
  font-weight: 600;
  font-style: "Mukta";
}

.navbar-top-minus {
  top: 0px;
}

.footer {
  background-color: #29073d;
  padding: 50px 0px;
  position: relative;
  background-color: #1A1A1A;
}
.footer .footer-elem {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  .footer .footer-elem {
    opacity: 0.3;
  }
}
.footer .topRow {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
@media only screen and (max-width: 1080px) {
  .footer .topRow {
    flex-direction: column;
  }
}
.footer .topRow .colLeft {
  flex-basis: 50%;
}
.footer .topRow .colLeft .logo {
  height: 48px;
}
@media only screen and (max-width: 767px) {
  .footer .topRow .colLeft .logo {
    width: 120px;
    margin-left: unset;
  }
}
.footer .topRow .colLeft p {
  color: #fff;
  font-size: 16px;
  font-family: "Mukta";
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer .topRow .colLeft .get-quote {
  background-color: #fff;
  color: #676767;
  padding: 0.75rem 1.6rem 0.75rem;
  border-radius: 60px;
  font-size: 18px;
  font-family: "Mukta";
  font-weight: 300;
}
.footer .topRow .colRight {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer .topRow .colRight .address {
  color: #fff;
  font-size: 20px;
  font-family: "Mukta";
  font-weight: 500;
  flex-basis: 30%;
}
@media only screen and (max-width: 767px) {
  .footer .topRow .colRight .address {
    flex-basis: 46%;
  }
}
.footer .topRow .colRight .address .text {
  font-size: 16px;
  font-family: "Mukta";
  font-weight: 300;
  margin-top: 15px;
}
@media only screen and (max-width: 1080px) {
  .footer .topRow .colRight {
    margin-top: 2rem;
  }
}
.footer .topRow .colRight .sTitle {
  font-family: "LibreBaskerville", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.footer .topRow .colRight .projectsRow {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1080px) {
  .footer .topRow .colRight .projectsRow {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .footer .topRow .colRight .projectsRow {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer .topRow .colRight .projectsRow img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  margin-left: 8px;
  border: 1px solid #fff;
}
.footer .topRow .colRight .projectsRow img:first-of-type {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .footer .topRow .colRight .projectsRow img {
    width: calc(33.33% - 6px);
    margin: 0;
    margin-bottom: 8px;
  }
}
.footer .divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 40px 0px;
  opacity: 0.3;
}
.footer .addressRow {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .footer .addressRow {
    flex-wrap: wrap;
  }
}
.footer .addressRow .addressSingle {
  width: calc(20% - 12px);
}
@media only screen and (max-width: 767px) {
  .footer .addressRow .addressSingle {
    width: calc(50% - 12px);
    margin-bottom: 2rem;
  }
}
.footer .addressRow .addressSingle .heading {
  font-family: "LibreBaskerville", sans-serif;
  margin-bottom: 6px;
}
.footer .addressRow .addressSingle .text {
  font-size: 12px;
}

.bannerBigSlider {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.bannerBigSlider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100vw;
}

.bannerThumbsSlider .swiper-slide img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.bannerThumbsSlider {
  width: 76px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .bannerThumbsSlider {
    transform: rotate(90deg);
  }
}
.bannerThumbsSlider .swiper-slide {
  transform: scale(0.65);
  transition: all 0.3s ease;
  opacity: 0.5;
  border: 1px solid #fff;
  width: 72px;
  height: 60px !important;
  pointer-events: none;
  transition: transform 0.8s ease;
}
.bannerThumbsSlider .swiper-slide img {
  object-fit: cover;
}
.bannerThumbsSlider .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1;
  border: 2px solid #fff;
}
.bannerThumbsSlider .swiper-slide.swiper-slide-next, .bannerThumbsSlider .swiper-slide.swiper-slide-prev {
  transform: scale(0.8);
  opacity: 0.8;
}
.bannerThumbsSlider .swiper-slide.swiper-slide-next {
  transform: scale(0.8) translateY(8px);
}
.bannerThumbsSlider .swiper-slide.swiper-slide-prev {
  transform: scale(0.8) translateY(-8px);
}

/*# sourceMappingURL=main.css.map */
