.contact-us-page{
    .formContainer{
        background: url(https://ik.imagekit.io/skp/contact-bg.jpg);
        background-size: cover;
        margin-top: 80px;
        @media only screen and (max-width: $mobileResolution){
            margin-top: 68px;
            padding-top: 3rem;
            padding-bottom: 4rem;
        }

    }
    .container-new{
        display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 95%;    
        padding: 100px;
        // height: 468px;
        height: 100%;
        @media only screen and (max-width: $mobileResolution){
            padding: 1rem;
        }
        .content{
            display: flex;
            @media only screen and (max-width:1024px) {
                flex-direction: column;
            }
            .left{
                background: #29073D;
                width: 48%;
                padding-left: 64px;
                padding-right: 64px;
                padding-top: 120px;
                padding-bottom: 145px;
                @media only screen and (max-width:1300px) {
                    padding-left: 54px;
                    padding-right: 54px;
                }
                @media only screen and (max-width:1024px){
                    width: 100%;
                    text-align: center;
                }
                @media only screen and (max-width: $mobileResolution){
                    padding: 4rem 1rem;
                }
                h1{
                    font-family: "LibreBaskerville";
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 59px;
                    text-align: left;
                    @media only screen and (max-width: $mobileResolution){
                        font-size: 20px;
                    }
                }
                p{
                    color: #fff;
                    display: flex;
                    align-items: flex-start;
                    img{
                        margin-right: 8px;
                    }
                    a{
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
            .right{
                padding: 40px;
                width: 52%;
                background: #fff;
                @media only screen and (max-width:1024px){
                    width: 100%;
                    padding: 3rem 1rem;
                }
                form{
                    .row1{
                        margin-bottom: 24px;
                        display: flex;
                        justify-content: space-between;
                        @media only screen and (max-width: $mobileResolution){
                            flex-direction: column;
                            margin-bottom: 0;
                        }
                        .scol{
                            width: 46%;
                            @media only screen and (max-width: $mobileResolution){
                                width: 100%;
                                margin-bottom: 10px;
                            }
                            label{
                                font-size: 14px;
                            }
                            input{
                                border-radius: 0;
                                &::placeholder{
                                    font-size: 14px;
                                    color: #2E2E4D80;
                                }
                            }
                        }
                        // .col2{
                        //     width: 46%;
                        //     label{
                        //         font-size: 14px;
                        //     }
                        //     input{
                        //         border-radius: 0;
                        //         &::placeholder{
                        //             font-size: 14px;
                        //             color: #2E2E4D80;
                        //         }
                        //     }
                        // }
                    }
                    .row2{
                        display: flex;
                        margin-bottom: 24px;
                        justify-content: space-between;
                        @media only screen and (max-width: $mobileResolution){
                            flex-direction: column;
                            margin-bottom: 0;
                        }
                        .scol{
                            width: 46%;
                            @media only screen and (max-width: $mobileResolution){
                                width: 100%;
                                margin-bottom: 10px;

                            }
                            label{
                                font-size: 14px;
                            }
                            .input-wrap{
                                display: flex;
                                align-items: center;
                                p{
                                    margin: 0;
                                    background: #5B0480;
                                    color: #fff;
                                    font-size: 14px;
                                    padding: 8.5px;
                                }
                            }
                            input{
                            border-radius: 0;
                                &::placeholder{
                                    font-size: 14px;
                                    color: #2E2E4D80;
                                }
                            }
                                select{
                                border-radius: 0;
                                font-size: 14px;
                                color: #2E2E4D80;
                            }
                        }
                        // .col2{
                        //     width: 46%;
                        //     label{
                        //         font-size: 14px;
                        //     }
                        //     select{
                        //         border-radius: 0;
                        //         font-size: 14px;
                        //         color: #2E2E4D80;
                        //     }
                        // }
                    }
                    .row3{
                        .form-group{
                            label{
                                font-size: 14px;
                            }
                            .form-control{
                                margin-bottom: 24px;
                                border-radius: 0;
                                &::placeholder{
                                    font-size: 14px;
                                    color: #2E2E4D80;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .maps-section{
        width: 100%;
        margin-bottom: 3rem;

        @media only screen and (max-width: $mobileResolution){
            margin-top: 3rem;
        }

        .sectionTitle{
            text-align: center;
            margin-bottom: 2.5rem;
        }
        .nav.nav-pills{
            max-width: calc(1200px );
            // padding-left: 1rem;
            // padding-right: 1rem;
            margin: 0 auto;
            margin-top: 3rem,;

            @media only screen and (max-width: $mobileResolution){
                flex-wrap: nowrap;
                overflow: scroll;
                margin-left: -1rem; 
                margin-right: -1rem;
                padding-top: 1rem;
            }

            .nav-item{
                width: 20%;
                @media only screen and (max-width: $mobileResolution){
                    min-width: 130px;
                    width: unset;
                }
            }
            .nav-link{
                border-radius: 0;
                border: 1px solid #2E2E4D26;
                color: $primaryLt;
                text-align: left;
                position: relative;
                transition: unset !important;
                &.active{
                    background: linear-gradient(114deg, #5B0480 0%, #29073D 100%) 0% 0% no-repeat;
                    color: #fff;
                    border: 1px solid $primary;

                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #29073d;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }


                }

                .buttonTitle{
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    margin: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /*No of lines after which the ellipsis needs to be added*/
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        } 
    }
}