.services-page{
    margin-top: 100px;
    padding-top: 4rem;
    @media only screen and (max-width: $mobileResolution){
        padding-top: 2rem;
    }
    h1{
        text-align: center;
        font-family: "LibreBaskerville";
        font-size: 32px;

        @media only screen and (max-width: $mobileResolution){
            font-size: 22px;
        }
    }
    p{
        text-align: center;
        font-size: 16px;
        color: $primary;
    }
    .designing-section{

        @media only screen and (max-width: $mobileResolution){
            margin-left: -1rem;
            margin-right: -1rem;
        }
        .upper{
            background:url("https://ik.imagekit.io/skp/services/designing.jpg") ;
            background-size: cover;
            height: 320px;
            display: flex;
            align-items: flex-end;
            .content{
                width: 100%;
                display: flex;
                align-items: center;
                margin-left: 80px;
                margin-right: 80px;
                margin-bottom: 34px;
                @media only screen and (max-width:$mobileResolution) {
                    flex-direction: column !important;
                    align-items: center;
                    justify-content: space-between;
                    // height: 50%;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                h1{
                    margin-right: auto;
                    color: #fff;
                    font-size: 24px;
                    font-family: "LibreBaskerville";
                    text-align: start;
                    @media only screen and (max-width:$mobileResolution){
                        margin: 0;
                        margin-bottom: 12px;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                img{
                    margin-right: 32px;
                    @media only screen and (max-width:$mobileResolution){
                        margin: 0;
                        margin-bottom: 12px;
                    }
                }
            }
        }

        &:nth-of-type(2n){
            .upper{
                background:url("https://ik.imagekit.io/skp/services/construction.jpg") ;
                background-size: cover;
            }
        }

        &:nth-of-type(3n){
            .upper{                
                background:url("https://ik.imagekit.io/skp/services/maintainance.jpg") ;
                background-size: cover;
            }
        }
        .row1{
            display: flex;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 72px;
            background: url("https://ik.imagekit.io/skp/services/row1edited_mxZ_eKkXg");
            background-repeat: no-repeat;
            background-size: 20.7%;
            background-color: #F3EDFF;
            margin-bottom: 48px;
            padding-top: 56px;
            @media only screen and (max-width:$ipadProResolution) {
                padding-left: 60px;
                padding-right: 60px;
            }
            @media only screen and (max-width:$mobileResolution) {
                flex-direction: column !important;
                padding: 0 1rem 5rem;
                background-image: none;
                // background-color: #fff;
                margin-bottom: 0;
            }
            img{
                width: 64px;
                @media only screen and (max-width:$mobileResolution){
                    padding-top: 50px;
                }
            }
            .secHeading{
                font-weight: 600;
                margin-top: 1rem;
                margin-bottom: 4px;
                font-size: 20px;
            }
            .paragraph{
                color: $primaryLt;
                padding-top: 15px;
            }
            .left{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
            .right{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
        }
        .row2{
            display: flex;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 72px;
            background: url("https://ik.imagekit.io/skp/services/row1edited_mxZ_eKkXg");
            background-repeat: no-repeat;
            background-position-x: right ;
            background-size: 20.7%;
            background-color: #FFF7F2;
            margin-bottom: 48px;
            padding-top: 56px;
            @media only screen and (max-width:$ipadProResolution) {
                padding-left: 60px;
                padding-right: 60px;
            }
            @media only screen and (max-width:$mobileResolution) {
                flex-direction: column !important;
                padding: 0 1rem 5rem;
                background-image: none;
                // background-color: #fff;
                margin-bottom: 0;
            }
            img{
                width: 64px;
                @media only screen and (max-width:$mobileResolution){
                    padding-top: 50px;
                }
            }
            .secHeading{
                font-weight: 600;
                margin-top: 1rem;
                margin-bottom: 4px;
                font-size: 20px;
            }
            .paragraph{
                color: $primaryLt;
                padding-top: 15px;
            }
            .left{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
            .right{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
        }
        .row3{
            display: flex;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 72px;
            background: url("https://ik.imagekit.io/skp/services/row1edited_mxZ_eKkXg");
            background-repeat: no-repeat;
            background-size: 20.7%;
            background-color: #FFF2F9;
            margin-bottom: 48px;
            padding-top: 56px;
            @media only screen and (max-width:$ipadProResolution) {
                padding-left: 60px;
                padding-right: 60px;
            }
            @media only screen and (max-width:$mobileResolution) {
                flex-direction: column !important;
                padding: 0 1rem 5rem;
                background-image: none;
                // background-color: #fff;
                margin-bottom: 0;
            }
            img{
                width: 64px;
                @media only screen and (max-width:$mobileResolution){
                    padding-top: 50px;
                }
            }
            .secHeading{
                font-weight: 600;
                margin-top: 1rem;
                margin-bottom: 4px;
                font-size: 20px;
            }
            .paragraph{
                color: $primaryLt;
                padding-top: 15px;
            }
            .left{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
            .right{
                width: 46%;
                @media only screen and (max-width:$mobileResolution){
                    width: 100%;
                }
            }
        }
    }
    .how-we-help{
        padding-right: 80px;
        padding-left: 80px;
        margin-bottom: 70px;
        margin-top: 80px;
        @media only screen and (max-width:$mobileResolution){
            padding: 0;
        }
        .upper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            h1{
                font-size: 24px;
                text-align: left;
                @media only screen and (max-width: $mobileResolution){
                    font-size: 20px;
                    margin-right: 12px;
                    margin-bottom: 0;
                }
            }
            @media only screen and (max-width:$mobileResolution) {
                // flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            position: relative;
            &::before{
                position: absolute;
                width: 20px;
                height: 20px;
                top: -10px;
                left: 0;
                background-color: #F4E3FF;
                content: '';
                border-radius: 50%;
                @media only screen and (max-width: 1057px){
                    right: unset;
                    left: -9px;
                    top: 0;
                }
            }
            &::after{
                position: absolute;
                width: 20px;
                height: 20px;
                bottom: -10px;
                right: 0;
                background-color: #F4E3FF;
                content: '';
                border-radius: 50%;
                @media only screen and (max-width: 1057px){
                    right: unset;
                    left: -9px;
                    bottom: 0;
                }
            }
            @media only screen and (max-width:1057px) {
                flex-direction: column;
            }
            .services{
                width: 32%;
                padding: 1rem;
                @media only screen and (max-width:1057px) {
                    width: 100%;
                    border: 0px solid !important;
                    border-left: 1px dashed #F4E3FF !important;
                    margin-bottom: 0 !important;
                    padding-top: 0 !important;
                }
                .wrap{
                    // background-color: $primary;
                    background: linear-gradient(138deg, #5B0480 0%, #29073D 100%) 0% 0% no-repeat;
                    padding: 16px;
                    @media only screen and (max-width:1057px){
                        padding: 30px;
                    }
                    img{
                        width: 100%;
                    }
                    p{
                        text-align: start;
                        padding-top: 10px;
                        font-size: 14px;
                        margin-bottom: 0px   ;
                        color: #fff;
                        font-weight: 600;
                    }
                }
                .count{
                    font-family: "LibreBaskerville";
                    color: $primaryLt;
                    opacity: 20%;
                    font-size: 40px;
                    margin-top: 20px;
                    @media only screen and (max-width: 1057px){
                        margin-top: 0;
                    }
                }
                &:nth-of-type(1){
                    border-top: 1px dashed #F4E3FF;
                    border-right: 1px dashed #F4E3FF;
                    padding-top: 15px ;
                    padding-right: 15px;
                //     width: 24%;
                    @media only screen and (max-width:1057px){
                        display: flex;
                        flex-direction: column-reverse;
                        margin-bottom: 15px;
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2){
                    display: flex;
                    flex-direction: column-reverse;
                    padding-bottom: 15px;
                    border-bottom: 1px dashed #F4E3FF;
                    @media only screen and (max-width:$mobileResolution){
                        margin-bottom: 15px;
                    }
                    .count{
                        margin-top: 0;
                        margin-bottom: 10px;
                        @media only screen and (max-width:$mobileResolution){
                            margin: 0;
                        }
                    }
                }
                &:nth-of-type(3){
                    border-left: 1px dashed #F4E3FF;
                    border-top: 1px dashed #F4E3FF;
                    padding-left: 15px;
                    padding-top: 15px;
                    @media only screen and (max-width:1057px){
                        display: flex;
                        flex-direction: column-reverse;
                        margin-top: 0;
                        margin-bottom: 15px;
                    }
                }
                &:nth-of-type(4){
                    display: flex;
                    flex-direction: column-reverse;
                    padding-bottom: 15px;
                    border-bottom: 1px dashed #F4E3FF;
                    border-left: 1px dashed #F4E3FF;
                    padding-left: 15px;
                    @media only screen and (max-width:$mobileResolution){
                        margin-bottom: 15px;
                    }
                    .count{
                        margin-top: 0;
                        margin-bottom: 10px;
                        @media only screen and (max-width:$mobileResolution){
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}