$primary: #29073d;
$primaryLt: #2e2e4d;

$mobileResolution: 767px;
$ipadProResolution: 1024px;
@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/Mukta-Regular.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-medium.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-semibold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-bold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 700;
}


@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/palanquindark-regular.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/PalanquinDark-Medium.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/palanquindark-semibold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 500;
}


@font-face {
  font-family: "Palanquin Dark";
  src: url("/assets/fonts/PalanquinDark-Bold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 700;
}
.btn-primary {
  border-radius: 100px;
  background-color: #B54F59;
  padding: 0.5rem 1.6rem 0.5rem;
  border: 0 ;
  font-size: 16px;
  font-family: "Mukta";
  font-weight: bold;
  color: #fff !important;
  transition: 0.3s all;
  margin-right: 15px;
  &:hover{
    color: #B54F59 !important;
    background: #fff;
  }
  &.white{
    border: 1px solid #fff;
    background-color:  #E5717D;
    &:hover{
      color:  #E5717D;
      background: #fff;
    border: 1px solid#E5717D;

    }
  }
}

.btn-grey {
  border-radius: 100px;
  background-color:#909090;
  padding: 0.5rem 1.6rem 0.5rem;
  border: 0 ;
  font-size: 16px;
  font-family: "Mukta";
  font-weight: 500;
  color: #fff !important;
  transition: 0.3s all;
  &:hover{
    color: #909090 !important ;
    background-color:#fff ;
  }
}

.btn-b-white {
  background: transparent;
  border: 1px solid #CCCCCC;
  padding: 0.5rem 2.6rem 0.5rem;
  border-radius: 60px;
  color: #909090 !important;
  font-size: 18px;
  font-family: "Mukta";
  font-weight: 300;
}

.btn-purple{
  background: #9A82A2;
  padding: 0.4rem 1.6rem 0.4rem;
  color: #fff;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.btn-secondary {
  background: #fff;
  border: unset;
  padding: 0.5rem 1.6rem;
  border-radius: 0px;
  color: $primary !important;
  border: 1px solid #5b048031;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

  &:hover {
    background: linear-gradient(135deg, #5b0480 0%, #29073d 100%);
    color: #fff !important;
  }
}

.body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

a {
  color: $primary;
  text-decoration: none;
}

.f-lb {
  font-family: "LibreBaskerville" sans-serif !important;
}

.white {
  color: #fff !important;
}

.f24 {
  font-size: 24px;
}
